{% extends 'registration/base_registration.html' %}
{% load static %}

{% block title %} تغيير كلمة السر{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="{% static 'registration/images/change_password.gif' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="d-flex flex-wrap mb-4">

                            <a href="{% url 'web:home' %}" class="navbar-brand"><img
                                    src="{% static 'web/img/logo/logo.svg' %}"></a>
                            <h3>تغيير كلمة السر</h3>
                        
                        <p class="font-weight-bolder text-right m-2 mt-4" style="direction: rtl;">يرجى إدخال كلمة المرور القديمة، لأسباب أمنية، ثم أدخل كلمة المرور الجديدة مرتين حتى نتمكن من التحقق من أنك كتبتها بشكل صحيح.</p>

                        </div>
                        <br />
                        <form class="pb-5" method="post">
                            {% csrf_token %}
                            <div class="form-group first mb-3">
                                <label for="password"> كلمة المرور قدیمه </label>
                                <input type="password" name="old_password" class="form-control" id="password">
                            </div>

                            <div class="form-group first mb-3">
                                <label for="password"> كلمة المرور جديده</label>
                                <input type="password" name="new_password1" class="form-control" id="password">
                            </div>

                            <div class="form-group first mb-3">
                                <label for="password">تأكيد كلمة المرور</label>
                                <input type="password" name="new_password2" class="form-control" id="password">
                            </div>

                            {% if form.errors %}
                            <div>
                                <h7>قم بإصلاح الأخطاء التالية</h7>
                                <ul>
                                    {% for field in form %}
                                    {% if field.errors %}
                                    {% for error in field.errors %}
                                    <li><a href="#id_{{ field.name }}" class="error">{{ error }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <input type="submit" value="ارسال" class="btn btn-block btn-primary">

                        </form>
                    </div>
                </div>
            </div>
       

        </div>
    </div>
</div>
{% endblock %}