{% extends 'registration/base_registration.html' %}
{% load static %}

{% block title %} إعادة تعيين كلمة المرور {% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">

            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="d-flex flex-wrap mb-4">

                            <a href="{% url 'web:home' %}" class="navbar-brand"><img
                                    src="{% static 'web/img/logo/logo.svg' %}"></a>
                            <h3>إعادة تعيين كلمة المرور</h3>
                            <p class="font-weight-bolder text-right m-2 mt-4" style="direction: rtl;">نسيت كلمة السر؟</p>
                            <p class="font-weight-bolder text-right m-2" style="direction: rtl;">أدخل عنوان بريدك الإلكتروني أدناه، وسنرسل إليك عبر البريد الإلكتروني تعليمات لإعداد عنوان جديد.</p>

                        </div>
                        <br />
                        <form class="pb-5" method="post">
                            {% csrf_token %}
                            <div class="form-group first mb-3">
                                <label for="email">ايميل</label>
                                <input type="email" name="email" class="form-control" id="email">
                            </div>

                            {% if form.non_field_errors %}
                            <p class="text-center">{{ form.non_field_errors }}</p>
                            {% endif %}
                            <input type="submit" value="ارسال" class="btn btn-block btn-primary">

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'registration/images/forgot_password.gif' %}" alt="Image" class="img-fluid">
            </div>

        </div>
    </div>
</div>
{% endblock %}