{% extends 'registration/base_registration.html' %}
{% load static %}

{% block title %} إنشاء حساب {% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'registration/images/signup.gif' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            
                            <a href="{% url 'web:home' %}" class="navbar-brand"><img src="{% static 'web/img/logo/logo.svg' %}"></a>
                            <h3>إنشاء حساب</h3>

                        </div>
                        <br />
                        <form method="post" action="{% url 'accounts:signup' %}">
                            {% csrf_token %}

                            <div class="form-group first">
                                <label for="email_id">ايميل</label>
                                <input type="email" name="email" class="form-control" id="email_id">
                            </div>

                            <div class="form-group last mb-0">
                                <label for="password_1">كلمة المرور</label>
                                <input type="password" name="password1" class="form-control" id="password_1">
                            </div>

                            <div class="form-group last mb-4">
                                <label for="password_2">اعد كلمة المرور</label>
                                <input type="password" name="password2" class="form-control" id="password_2">
                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                            </div>

                            {% if form.errors %}
                            <div>
                                <h7>قم بإصلاح الأخطاء التالية</h7>
                                <ul>
                                    {% for field in form %}
                                    {% if field.errors %}
                                    {% for error in field.errors %}
                                    <li><a href="#id_{{ field.name }}" class="error">{{ error }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <span class="d-flex justify-content-center form-control mb-3">{{ form.captcha }}</span>
                            <input type="submit" value="إنشاء" class="btn btn-block btn-primary" />

                            <p class="font-weight-bold"> <a href="{% url 'accounts:login' %}"> هل أنت عضو؟ أدخل الى حسابك</a></p>

                            <span class="d-block text-center my-4 text-muted">_____ أو _____</span>

                            <div class="social-login">
                                <a href="#" class="google">
                                    <span class="icon-google mr-3"> الدخول مع</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}